<% layout('/layouts/boilerplate') -%>
<body>
  <div class="row mt-3">
    <div class="col-md-8 offset-2">
    <h3>Edit the Listing</h3>
    <form method="POST" action="/listings/<%= Listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input id="title" name="Listing[title]" value="<%= Listing.title %>" type="text" class="form-control" required>
            <div class="valid-feedback">Looks good!</div>
        </div>
       
       <div>
         <label for="description" class="form-label">Description:</label>
         <textarea id="description" name="Listing[description]" class="form-control" required><%= Listing.description %></textarea>
         <div class="invalid-feedback">Type shorter description</div>
       </div>

       <div class="mb-3">
        Original Image: <br>
        <img src="<%= originalImageUrl %>" height="200px" width="300 px" />
       </div>
      
       <div class="mb-2">
        <label for="image-url" class="form-label">Upload new image</label>
        <input name="Listing[image]" type="file" class="form-control"/>
       </div>
    
    
       
       <div class="row">
        <div class="col-md-4">
            <label for="price" class="form-label">Price:</label>
           <input id="price" name="Listing[price]" value="<%= Listing.price %>" type="text" class="form-control" required>
           <div class="invalid-feedback">Price should be</div>
           </div>
    
           <div class="col-md-8">
            <label for="country" class="form-label">Country:</label>
           <input id="country" name="Listing[country]" value="<%= Listing.country %>" type="text" class="form-control" required>
           <div class="invalid-feedback">Country name should be valid</div>
           </div>
       </div>
       
       <div>
        <label for="location" class="form-label">Location:</label>
       <input id="location" name="Listing[location]" value="<%= Listing.location %>" type="text" class="form-control" required>
       <div class="invalid-feedback">Location should be valid</div>
       </div>
       <br>
       <button type="submit" class="btn edit-btn mt-3">Edit</button>
    </form>
    </div>
  </div>
    <br>
</body>

